body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h3 {
  color: #a6a6a6;
  text-transform: uppercase;
}

ul li {
  list-style-type: none;
}

.intro {
  background-color: #dddddd;
  padding: 1em;
}

.intro h1 {
  color: #008990;
}

.main {
  padding: 1em;
}
